doctype html
html(lang=lang)
  head
    title Tradeigy
    style
      block styles
      
  body
    #nav-bar
      a(href='/')
        #logo
      
    #content      
      block content

    script
      block scripts
